*{border:none;font-size:13px;font-style:normal;font-weight:normal;margin:0px;padding:0px;vertical-align:baseline;}
body, html{background-color:#ffffff;}
body{color:#444444;direction:ltr;font-family:arial,sans-serif;font-size:13px;line-height:15px;margin:10px 0px;text-align:left;}
a:link, a:visited{color:#3B5998;}
img{vertical-align:middle;}
p{clear:both;margin:0px 0px 5px 0px;}
em{color:#000000;font-style:italic;}
strong{font-weight:bold;}
form{margin:0px;padding:0px;}
#ldapshare{margin:auto;position:relative;width:600px;}
#popin{display:none;position:absolute;width:600px;z-index:200;}
#popin_display{text-align:center;}
.popin_content{background-color:#EDEFF4;border:1px solid #D2D9E7;}
#popin_display h2{background-color:#6D84B4;color:#FFFFFF;font-size:14px;font-weight:bold;margin:0px;padding:5px 10px;position:relative;text-align:left;}
#popin_display h3{border-bottom:1px solid #d9d9d9;color:#000000;font-size:11px;font-weight:bold;margin:5px 10px;padding-bottom:5px;position:relative;}
#popin_display p{padding:15px 10px;text-align:center;}
#popin_display p a:link,#popin_display p a:visited{font-size:14px;}
#loading{display:none;position:absolute;z-index:300;}
.comment_fresh{border-left:1px solid #5B74A8;}
.post_thumb{float:left;width:50px;}
.post_thumb img{width:50px;}
.post_text{float:right;width:540px;}
.link_thumb{float:right;width:90px;}
.link_thumb img{width:90px;}
.link_text{color:#808080;float:left;width:440px;}
.link_text_full{width:540px;}
.playvideo_link{clear:both;}
.playvideo{display:none;}
.comment_thumb{float:left;margin:5px 0px 5px 10px;width:30px;}
.comment_thumb img{width:30px;}
.comment_text{float:right;margin:5px 10px 0px 0px;width:480px;}
#postform_detail{text-align:right;}
#postform .textarea, .commentform .textarea{border:1px solid #999999;height:50px;min-height:50px;padding:2px 5px;resize:vertical;width:470px;}
#postform .textarea{width:568px;}
#loginform .inputtext, #loginform .inputpassword, #postform .inputtext{border:1px solid #999999;padding:3px 5px;width:568px;}
#loginform form p, #postform form p{background-position:left 2px;background-repeat:no-repeat;padding-left:20px;position:relative;}
#postform .form_link{background-image:url(medias/icon_link.png);}
#postform form p a:link, #postform form p a:visited{right:2px;position:absolute;top:3px;}
#postform .form_address{background-image:url(medias/icon_address.png);}
#postform .form_photo{background-image:url(medias/icon_photo.png);}
#postform_photo_preview img{max-height:150px;max-width:150px;}
#postform_photo_preview, #postform_address_preview{margin-top:10px;}
.postlist{border-top:1px solid #dedede;margin-bottom:110px;margin-top:10px;}
.postlist .post{border-bottom:1px solid #dedede;clear:both;margin-top:10px;overflow:auto;}
.postlist .post_fresh{border-bottom:1px solid #5B74A8;}
.photolist{margin-top:10px;overflow:auto;}
.photo{float:left;}
.photo img{max-height:150px;max-width:150px;}
#popin_display img{max-height:600px;max-width:600px;}
.address_display img{width:540px;}
.photolist, .addresslist, .linklist{clear:both;margin-left:40px;margin-top:10px;}
.photolist_display, .address_display, .link_display{border-top:1px solid #dedede;margin-left:20px;overflow:auto;padding-top:10px}
.photolist, .address, .link{overflow:auto;}
.photolist, .address, .link{background-position:left 10px;background-repeat:no-repeat;}
.photolist{background-image:url(medias/icon_photo.png);margin-bottom:10px;}
.address{background-image:url(medias/icon_address.png);}
.link{background-image:url(medias/icon_link.png);}
.post_detail{border-top:1px solid #dedede;clear:both;margin-left:60px;margin-top:5px;padding:5px 0px 0px 0px;}
.commentlist{clear:both;margin:10px 0px 10px 60px;}
.comment{background-color:#EDEFF4;border-bottom:1px solid #D2D9E7;clear:both;margin-top:1px;overflow:auto;}
.comment_all_display p, .post_like_display p{margin:5px 10px 5px 30px;}
.comment_all, .post_like{background-position:10px 5px;background-repeat:no-repeat;}
.post_like{background-image:url("medias/icon_like.png");}
.comment_all{background-image:url("medias/icon_allcomments.png");}
.username{color:#3B5998;font-weight:bold;}
.post_like_display .username{font-weight:normal;}
.post_text, .link_text, .comment_text{position:relative;text-align:justify;word-wrap:break-word;}
.link_text{text-align:left;}
.datecreated{color:#999999;}
.delete_action{background-image:url("medias/icon_delete.png");background-repeat:no-repeat;height:15px;position:absolute;right:0px;top:0px;width:15px;}
.delete_action:focus, .delete_action:hover{background-position:left -32px;}
.delete_action:active{background-position:left -48px}
#postform_detail a:link, #postform_detail a:visited, #popin_display a:link, #popin_display a:visited, .post_detail a:link, .post_detail a:visited, .comment_detail a:link, .comment_detail a:visited{color:#6B84B4;}
.link_text, .comment_detail{font-size:11px;}
.icon img{height:16px;width:16px;}
.commentform, .link_more, .unlike_inactive, .like_inactive{display:none;}
.inputsubmit{background-color:#5b74a8;color:#ffffff;cursor:pointer;font-size:14px;font-weight:bold;margin:0px;padding:1px 2px 2px;}
@media only screen and (max-width:600px) {
#ldapshare{width:300px;}
#popin{width:300px;}
.post_thumb{width:30px;}
.post_thumb img{width:30px;}
.post_text{width:260px;}
.link_thumb{width:50px;}
.link_thumb img{width:50px;}
.link_text{width:190px;}
.link_text_full{width:260px;}
.comment_thumb{display:none;}
.comment_text{width:240px;}
.commentform .textarea{width:230px;}
#postform .textarea{width:268px;}
#loginform .inputtext, #loginform .inputpassword, #postform .inputtext{width:268px;}
#postform_photo_preview img{max-height:100px;max-width:100px;}
.photo img{max-height:100px;max-width:100px;}
#popin_display img{max-height:300px;max-width:300px;}
.address_display img{width:260px;}
#postform_address_preview img{width:260px;}
.post_detail{margin-left:40px;}
.photolist, .addresslist, .linklist{margin-left:20px;}
.commentlist{clear:both;margin:10px 0px 10px 40px;}
.photolist_display, .address_display, .link_display{margin-left:20px;}
}
